body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

/* HEADER */
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
  }

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
}
#nav-list a {
    color: #951c49;
    text-align: center;
}
#nav-list a:hover {
    background: #e7e7e7;
}
#nav-list a span {
    font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.75em;
    margin-bottom: 25px;
}
.main-content {
    position: relative;
}
p {
    text-align: justify;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1em;
    margin-top: 30px;
}
.beef {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.25em;
    width: 100px;
    background-color: green;
    border: 1px solid black;
    position: absolute;
    top: 0px;
    right: 0px;
}
.chicken {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.25em;
    width: 100px;
    background-color: red;
    border: 1px solid black;
    position: absolute;
    top: 0px;
    right: 0px;
}
.sushi {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.25em;
    width: 100px;
    background-color: orangered;
    border: 1px solid black;
    position: absolute;
    top: 0px;
    right: 0px;
}
section {
    position: relative;
    border: 1px solid black;
    margin-bottom: 30px;
    padding: 15px;
}

/* media query for desktop */
@media (min-width: 992px) {
    section {
        background-color: #a9a9a9;
        width: 30%;
        margin-right: 1.5%;
        margin-left: 1.5%;
        float: left;
    }
}

/* media query for tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .section1 {
        background-color: #a9a9a9;
        width: 47%;
        margin-right: 2%;
        margin-left: 2%;
        float: left;
    }
    .section2 {
        background-color: #a9a9a9;
        width: 47%;
        margin-right: 2%;
        float: left;
    }
    .section3 {
        background-color: #a9a9a9;
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
        float: left;
    } 
}

/* media query for smartphone */
@media (max-width: 767px) {
    .section1 {
        background-color: #a9a9a9;
        width: 88%;
        margin-right: 6%;
        margin-left: 6%;
    }
    .section2 {
        background-color: #a9a9a9;
        width: 88%;
        margin-right: 6%;
        margin-left: 6%;
    }
    .section3 {
        background-color: #a9a9a9;
        width: 88%;
        margin-right: 6%;
        margin-left: 6%;
    }    
}
